@{
    Layout = "~/Views/Layouts/Layout_1.cshtml";
}
<h1>Edit</h1>
<a href="https://localhost:44306/Edit/MatchSelect">Edit match</a>
<a href="https://localhost:44306/Edit/LeagueSelect">Edit league</a>
<a href="https://localhost:44306/Edit/ClubSelect">Edit club</a>