@{
    Layout = "~/Views/Layouts/Layout_1.cshtml";
}
<h1>Create</h1>
<a href="https://localhost:44306/Create/Match">Create match</a>
<a href="https://localhost:44306/Create/League">Create league</a>
<a href="https://localhost:44306/Create/Club">Create club</a>